
* {
  margin: 0;
  padding: 0; 
}

body {
  background-color:white;
  font-family: lato, sans-serif;
  font-weight:100;
  font-size: 1em;
}

h1,
h3,
h4,{
  color: white;
  font-family: palatino;
   }

h3 {
  color: white;
}

a {
  text-decoration: none;
  color:white
}
a:hover {
  color: #57A4D4;
}



.masthead {
  padding: 20em 0;
  background-image: url('http://i.imgur.com/318sNCr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}

.masthead-intro {
  text-align:left;
  margin-bottom: 2em;
  margin-left: 15%;
  font-family: palatino;
  color: white;
  opacity: .75;
  font-size: 30px;
}

.masthead-heading {
  margin-top: .9em;
  margin-left: 15%;
  opacity: .75;
  font-family: lato;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: .5em;
  text-transform: uppercase;
}


.masthead-heading > h1 {
  padding-top: 2em;
}

.image {
  border-radius: 300px;
  height: 25em;
  width: 25em;
  margin-left: 15%;
  color: linear-gradient(
      rgba(2, 28, 59, 0.1), 
      rgba(2, 28, 59, .1)
    )
  }

.about {
  padding: 15em 0;
}


.about-intro {
  padding: 1em 0;
  text-align: right;
  margin-right: 15%;
  font-family: "PT Serif";
  font-size: 30px;

}

.about-body {
  text-align:right;
  margin-right: 15%;
  font-family: "PT Serif";
  max-width: 20em;
  margin-left: auto;
  margin-right: 15%;

}

.quotes {
  padding: 7em 0;
  background: linear-gradient(
      rgba(34, 49, 50, 0.7), 
      rgba(34, 49, 50, .7)
    ), url('http://i.imgur.com/b0wkgi9.jpg');
  background-size: cover;
  background-color: #303F3F;
  opacity: 1;
  }

.quotes-body {
 text-align: center;
  margin-right: 0em;
  font-family: "PT Serif";
  font-size: 30px;
  color:white;
}

.showcase
{
  padding: 10em 0;
  margin: 2em 0;
  
}

.showcase-header,
.showcase-body
{
  max-width: 23em;
  margin-left: 15%;
  margin-bottom: 75%;
  font-family: "PT Serif";
  color: black;
}

.footer {
  text-align: center;
  background: linear-gradient(
      rgba(2, 28, 59, 0.1), 
      rgba(2, 28, 59, .1)
    ), url('http://i.imgur.com/HuEs7vr.jpg');
  padding: 6em 0;
  background-size: cover;
  
}
.footer-header {
  text-align: center;
  padding: 5em, 0em;
  font-family: "PT Serif";

  
}
.footer-body {
  text-align: center;
  color: white;
  padding-top: 5em, 0;
  font-family: "PT Serif";

}

.footer-body > li {
  display: inline-block;
}


